fastapi
uvicorn
python-multipart
streamlit
requests
python-dotenv

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters

langgraph
langgraph-checkpoint-postgres
psycopg[binary,pool]

faiss-cpu
pypdf
tavily-python

wikipedia
arxiv
numexpr
